.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body{
    padding: 0;
    margin: 0;
    background-size: 100% cover;
    background-repeat: no-repeat;
    background-position: top center;
    font-family: 'Manrope',sans-serif;
    background-color: hsl(230, 100%, 99%);
    background-image: url('images/bg-pattern.svg');
}
header{
    height: 30vh;
    margin-top: 5%;
    text-align: center;
    background-size: 100% cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-position:  top center ;
    background-image: url('images/pattern-circles.svg');
}
section{
    margin-bottom: 5%;
}
main{
    width: 35%;
    padding: 30px;
    margin: 0 auto;
    border-radius: 5px;
    position: relative;
    text-align: center;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 4px 6px 6px hsl(223, 50%, 87%);
}
h1,h2{
    color: hsl(227, 35%, 25%);
}
h2{
    font-size: 2.5em;
}
p,li{
    color: hsl(225, 20%, 60%);
}
.pageviews{
    display: flex;
    font-size: 0.9em;
    letter-spacing: 3px;
    text-transform: uppercase;
}
hr{
    width: 100%;
    margin: 20px 0;
    border: 1px solid hsl(224, 65%, 95%);
}
.stats{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
input[type="range"] {  
    width: 100%; 
    height: 10px; 
    outline: none;
    border-radius: 5px;
    -webkit-appearance: none;
    background-color: hsl(224, 65%, 95%);
}
input[type="range"]::-webkit-slider-thumb {
    padding: 20px;
    width: 25px; 
    height: 25px; 
    cursor: pointer; 
    border-radius: 50%;
    -webkit-appearance: none;
    background-position: center; 
    background-repeat: no-repeat;
    transition: transform 0.3s ease;
    background-color: hsl(174, 86%, 45%);
    background-image: url('images/icon-slider.svg');
    box-shadow: 6px 8px 8px hsla(174, 86%, 45%, 0.6);  
}
.billing{
    display: flex;
    align-items: center;
    justify-content: right;
    margin-top: 20px;
}
.discount,.discount-1{
    padding: 5px 8px;
    margin-left: 10px;
    font-size: 0.8em;
    border-radius: 50px;
    color: hsl(15, 100%, 70%);
    background-color: hsl(14, 92%, 95%);
}
.discount-1{
    display: none;
}
.toggle-icon {
    width: 40px;
    height: 20px;
    display: flex;
    cursor: pointer;
    margin: 0 20px;
    align-items: center;
    border-radius: 20px;
    justify-content: center;
    background-color: hsl(223, 50%, 87%);
    transition: background-color 0.3s ease;
}
.toggle-icon.active{
    background-color: hsl(174, 86%, 45%);
}
.toggle-circle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transform: translateX(-10px);
    transition: transform 0.3s ease;
    background-color: hsl(0, 0%, 100%);
}
.toggle-icon.active .toggle-circle {
    transform: translateX(10px);
}
.price{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cta{  
    font-size: 0.9em;  
    padding: 10px 30px;
    border-radius: 50px;
    text-decoration: none;
    color:  hsl(226, 100%, 87%);
    background-color: hsl(227, 35%, 25%);
}
.list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul {
    display: flex;
    line-height: 2rem;
    flex-direction: column;
    align-items: flex-start;
    list-style-type: none;
}
.icon-check{
    padding-right: 15px;
}
@media screen and (max-width: 1000px) {
    main{
        width: 80%;
    }
    .title{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .title p{
        width: 50%;
    }
    .stats{
        flex-direction: column;
    }
    .discount-1{
        display: block;
    }
    .discount{
        display: none;
    }
    .billing{
        justify-content: center;
    }
    .list{
        flex-direction: column;
    }
    ul{
        align-items: center;
        justify-content: center;
    }
    .cta{
        margin-top: 5%;
        padding: 10px 50px;
    }
}
  